name: check
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Format
        run: pnpm run format:check

  test:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Test
        run: pnpm run test:ci

      - name: Finish | Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          fail_ci_if_error: true
