name: Check
on:
  push:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup | Get tool version
        id: tool-version
        run: |
          bun=$(grep -E '^bun' .tool-versions)
          echo "bun=${bun#bun }" >> $GITHUB_OUTPUT

      - name: Setup | Bun
        uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1
        with:
          bun-version: ${{ steps.tool-version.outputs.bun }}

      - name: Setup | Install dependencies
        run: bun install

      - name: Run | Lint
        run: bun run lint

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup | Get tool version
        id: tool-version
        run: |
          bun=$(grep -E '^bun' .tool-versions)
          echo "bun=${bun#bun }" >> $GITHUB_OUTPUT

      - name: Setup | Bun
        uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1
        with:
          bun-version: ${{ steps.tool-version.outputs.bun }}

      - name: Setup | Install dependencies
        run: bun install

      - name: Run | Format
        run: bun run format:check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup | Get tool version
        id: tool-version
        run: |
          bun=$(grep -E '^bun' .tool-versions)
          echo "bun=${bun#bun }" >> $GITHUB_OUTPUT

      - name: Setup | Bun
        uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1
        with:
          bun-version: ${{ steps.tool-version.outputs.bun }}

      - name: Setup | Install dependencies
        run: bun install

      - name: Run | Test
        run: bun run test:ci

      - name: Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          fail_ci_if_error: true
