name: release
on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Build
        run: bun run build

      - name: Finish | Publish
        run: pnpm publish -r --access public
