name: Release
on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: npm
            url: https://registry.npmjs.org/
          - name: GitHub Packages
            url: https://npm.pkg.github.com/
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v5

      - name: Setup | Get tool version
        id: tool-version
        run: |
          bun=$(grep -E '^bun' .tool-versions)
          echo "bun=${bun#bun }" >> $GITHUB_OUTPUT

      - name: Setup | Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{ steps.tool-version.outputs.bun }}

      - name: Setup | Install dependencies
        run: bun install

      - name: Run | Build
        run: bun run build

      - name: Setup | Registry
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: ${{ matrix.url }}

      - name: Publish | ${{ matrix.name }}
        run: npm publish -r --access public
        env:
          NODE_AUTH_TOKEN: ${{ matrix.name == 'npm' && secrets.NPM_TOKEN || secrets.GITHUB_TOKEN }}
